DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
BACKEND_URL="https://twitcher-22qk.onrender.com"
EBIRD_API_KEY=""

IMAP_HOST=""
IMAP_PORT="993"
IMAP_USER=""
IMAP_PASS=""
IMAP_SECURE="true"
